<%- include chun_header %>
    <div id="top" class="header">
        <div class="vert-text">
            <img class="img-rounded" alt="Company Logo" src="/stylesheets/chunzahara/img/logo.jpg" />
            <h2><em>chunzahara</em></h2>
            <ul class="list-inline">
                <li><i class="fa fa-facebook fa-3x"></i></li>
                <li><i class="fa fa-twitter fa-3x"></i></li>
                <li><i class="fa fa-google-plus fa-3x"></i></li>
                <li><i class="fa fa-linkedin fa-3x"></i></li>
                <li><i class="fa fa-pinterest fa-3x"></i></li>
            </ul>
            <br>
            <a href="#about" class="btn btn-top">Learn More</a>
        </div>
    </div>    
    <div id="about" class="about_us">
        <div class="container">
            <div class="row">
                <div class="col-md-8 col-md-offset-2 text-center">
                    <h2>About Us</h2>
                    <p class="lead">Lorem ipsum dolor sit amet, ei essent delenit sit, adipisci salutatus has eu. Quis tamquam cu nam. Sed esse deleniti et, ex rebum quaestio his. Audiam deseruisse sed cu, vix ex possim causae omittantur.</p>
                </div>
            </div>
        </div>
    </div>
<%- include chun_footer %>