<%- include chun_header %>
    <div id="nav">
        <nav class="navbar navbar-new" role="navigation">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#mobilemenu">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a href="#" class="navbar-brand">chunzahara</a>
                </div>
                <div class="collapse navbar-collapse" id="mobilemenu">
                    <ul class="nav navbar-nav navbar-right text-center">
                        <li><a href="#top"><i class="service-icon fa fa-home"></i>&nbsp;Home</a></li>
                        <li><a href="#about"><i class="service-icon fa fa-info"></i>&nbsp;About</a></li>
                        <li><a href="#services"><i class="service-icon fa fa-laptop"></i>&nbsp;Services</a></li>
                        <li><a href="#portfolio"><i class="service-icon fa fa-camera"></i>&nbsp;Portfolio</a></li>
                        <li><a href="#contact"><i class="service-icon fa fa-envelope"></i>&nbsp;Contact</a></li>
                    </ul>
                </div>
            </div>
        </nav>
    </div>
    <div id="portfolio" class="portfolio">
        <div class="container">
            <div class="row push50">
                <div class="col-md-4 col-md-offset-4 text-center">
                    <h2>Our Work</h2>
                    <h3>
<span class="filter label label-default" data-filter="all">ALL</span>
<span class="filter label label-default" data-filter="bw">B&amp;W</span>
<span class="filter label label-default" data-filter="nature">Nature</span>
<span class="filter label label-default" data-filter="portraits">Portraits</span>
</h3>
                    <hr>
                </div>
            </div>
            <div class="row">
                <div class="gallery">
                    <ul id="Grid" class="gcontainer">

                        <li class="col-md-4 col-sm-4 col-xs-12 mix bw portraits all" data-cat="graphics">
                            <a data-toggle="modal" data-target="#portrait1" class="mix-cover">
                                <img class="horizontal" src="/stylesheets/html/slidefolio/img/portrait1-sm.jpg" alt="placeholder">
                                <span class="overlay"><span class="valign"></span><span class="title">Portrait 1</span></span>
                            </a>
                        </li>
                        <li class="col-md-4 col-sm-4 col-xs-12 mix portraits all" data-cat="graphics">
                            <a data-toggle="modal" data-target="#portrait2" class="mix-cover">
                                <img class="horizontal" src="/stylesheets/html/slidefolio/img/portrait2.jpg" alt="placeholder">
                                <span class="overlay"><span class="valign"></span><span class="title">Portrait 2</span></span>
                            </a>
                        </li>
                        <li class="col-md-4 col-sm-4 col-xs-12 mix nature all" data-cat="nature">
                            <a data-toggle="modal" data-target="#nature1" class="mix-cover">
                                <img class="horizontal" src="/stylesheets/html/slidefolio/img/nature1.jpg" alt="placeholder">
                                <span class="overlay"><span class="valign"></span><span class="title">Nature 1</span></span>
                            </a>
                        </li>
                        <li class="col-md-4 col-sm-4 col-xs-12 mix portraits all" data-cat="portraits">
                            <a data-toggle="modal" data-target="#portrait3" class="mix-cover">
                                <img class="horizontal" src="/stylesheets/html/slidefolio/img/portrait3.jpg" alt="placeholder">
                                <span class="overlay"><span class="valign"></span><span class="title">Portrait 3</span></span>
                            </a>
                        </li>
                        <li class="col-md-4 col-sm-4 col-xs-12 mix portraits all" data-cat="portraits">
                            <a data-toggle="modal" data-target="#portrait5" class="mix-cover">
                                <img class="horizontal" src="/stylesheets/html/slidefolio/img/portrait5.jpg" alt="placeholder">
                                <span class="overlay"><span class="valign"></span><span class="title">Portrait 5</span></span>
                            </a>
                        </li>
                        <li class="col-md-4 col-sm-4 col-xs-12 mix nature all" data-cat="nature">
                            <a data-toggle="modal" data-target="#nature" class="mix-cover">
                                <img class="horizontal" src="/stylesheets/html/slidefolio/img/nature.jpg" alt="placeholder">
                                <span class="overlay"><span class="valign"></span><span class="title">Nature</span></span>
                            </a>
                        </li>
                        <li class="col-md-4 col-sm-4 col-xs-12 mix portraits all" data-cat="portrait">
                            <a data-toggle="modal" data-target="#portrait4" class="mix-cover green">
                                <img class="vertical" src="/stylesheets/html/slidefolio/img/portrait4.jpg" alt="portrait 4">
                                <span class="overlay"><span class="valign"></span><span class="title">Portrait 4</span></span>
                            </a>
                        </li>
                        <li class="col-md-4 col-sm-4 col-xs-12 mix bw nature all" data-cat="portrait">
                            <a data-toggle="modal" data-target="#forest" class="mix-cover green">
                                <img class="vertical" src="/stylesheets/html/slidefolio/img/forest.jpg" alt="Forest">
                                <span class="overlay"><span class="valign"></span><span class="title">Forest</span></span>
                            </a>
                        </li>
                        <li class="col-md-4 col-sm-4 col-xs-12 mix bw nature all " data-cat="bw">
                            <a data-toggle="modal" data-target="#bw1" class="mix-cover green">
                                <img class="vertical" src="/stylesheets/html/slidefolio/img/bw1.jpg" alt="Black and White">
                                <span class="overlay"><span class="valign"></span><span class="title">Black &amp; White</span></span>
                            </a>
                        </li>
                    </ul>
                    <div class="modal fade" id="portrait1" tabindex="-1" role="dialog" aria-hidden="true">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                                    <h4 class="modal-title text-center">Portrait 1</h4>
                                </div>
                                <div class="modal-body">
                                    <img class="thumbnail" alt="Portrait1" src="/stylesheets/html/slidefolio/img/portrait1.jpg" />
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="modal fade" id="portrait2" tabindex="-1" role="dialog" aria-hidden="true">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                                    <h4 class="modal-title text-center">Portrait 2</h4>
                                </div>
                                <div class="modal-body">
                                    <img class="thumbnail" alt="Portrait1" src="/stylesheets/html/slidefolio/img/portrait2.jpg" />
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="modal fade" id="portrait3" tabindex="-1" role="dialog" aria-hidden="true">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                                    <h4 class="modal-title text-center">Portrait 3</h4>
                                </div>
                                <div class="modal-body">
                                    <img class="thumbnail" alt="Portrait1" src="/stylesheets/html/slidefolio/img/portrait3.jpg" />
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="modal fade" id="portrait4" tabindex="-1" role="dialog" aria-hidden="true">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                                    <h4 class="modal-title text-center">Portrait 4</h4>
                                </div>
                                <div class="modal-body">
                                    <img class="thumbnail" alt="Portrait1" src="/stylesheets/html/slidefolio/img/portrait4.jpg" />
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="modal fade" id="portrait5" tabindex="-1" role="dialog" aria-hidden="true">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                                    <h4 class="modal-title text-center">Portrait 5</h4>
                                </div>
                                <div class="modal-body">
                                    <img class="thumbnail" alt="Portrait1" src="/stylesheets/html/slidefolio/img/portrait5.jpg" />
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="modal fade" id="nature" tabindex="-1" role="dialog" aria-hidden="true">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                                    <h4 class="modal-title text-center">Nature</h4>
                                </div>
                                <div class="modal-body">
                                    <img class="thumbnail" alt="nature" src="/stylesheets/html/slidefolio/img/nature.jpg" />
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="modal fade" id="nature1" tabindex="-1" role="dialog" aria-hidden="true">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                                    <h4 class="modal-title text-center">Nature 1</h4>
                                </div>
                                <div class="modal-body">
                                    <img class="thumbnail" alt="nature" src="/stylesheets/html/slidefolio/img/nature1.jpg" />
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="modal fade" id="forest" tabindex="-1" role="dialog" aria-hidden="true">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                                    <h4 class="modal-title text-center">Forest</h4>
                                </div>
                                <div class="modal-body">
                                    <img class="thumbnail" alt="forest" src="/stylesheets/html/slidefolio/img/forest.jpg" />
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="modal fade" id="bw1" tabindex="-1" role="dialog" aria-hidden="true">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header"> 
                                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                                    <h4 class="modal-title text-center">Black and White</h4>
                                </div>
                                <div class="modal-body">
                                    <img class="thumbnail" alt="forest" src="/stylesheets/html/slidefolio/img/bw1.jpg" />
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
<%- include chun_footer %>

